.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  z-index: 1;

}

.slide img{
  width: 100%;
}

.navBar{
  position: fixed;
  top: 10px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: rgb(0, 0, 0);
  margin-top: 30px;
  z-index: 2;
}

.menuPc {
  color: white;
}

.lista {
  display: flex;
  list-style: none;
  gap: 1em;
  font-size: large;
}

li {
  padding: 5px;
  border-radius: 5px;
}

li:hover {
  background-image: linear-gradient(to top, rgb(87, 33, 138), rgb(132, 0, 255));
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  gap: 7px;
  width: 50px;
  height: 27px;
  margin-left: 40px;
  cursor: pointer;
}

#men1 {
  background-color: white;
  width: 25px;
  height: 4px;
  border-radius: 2px;
}

#men2 {
  background-color: white;
  width: 50px;
  height: 5px;
  border-radius: 2px;
}

#men3 {
  background-color: white;
  width: 25px;
  height: 4px;
  margin-left: 25px;
  border-radius: 2px;
}

.menu:hover #men1{
  width: 50px;
  cursor: pointer;
  transition:  0.5s;
}

.menu:hover #men3{
  width: 50px;
  cursor: pointer;
  margin: 0;
  transition:  0.5s;
}

.navLeft {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

h3 {
  color: white;
  text-align: end;
  margin-right: 14px;
  padding-right: 7px;
  padding-bottom: 2px;
  background-image: linear-gradient(to left, rgb(135, 10, 252), rgba(204, 0, 255, 0.493), rgba(255, 0, 221, 0.048));
  width: 170px;
  border-radius: 50px 10px 5px 0px;
  cursor: default;
}

.logo {
  border: 1px solid white;
  border-radius: 50%;
  width: 70px;
}

.navBot{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: white;
  background-color: black;
}

.iconActive .menuPc {
  position: fixed;
  display: flex;
  height: 230px;
  width: 250px;
  top: 130px;
  color: black;
  background-color: rgba(255, 255, 255, 0.568);
}

.iconActive .lista {
  align-items: start;
  flex-direction: column;
}

.iconActive li:hover {
  background-image: linear-gradient(to top, rgb(87, 33, 138), rgb(132, 0, 255));
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media(max-height:500px) {
  .navBar {  
  top: 5px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  z-index: 2;
  }

  .logo {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
  }

  .slide {
    width: 400px;
  }

  .menuPc {
    display: none;
  }

  .navLeft {
    margin-right: 20px;
  } 
  
  .menu{
    display: flex;
  }
}

@media(max-width:1000px){
  .slide {
    width: 750px;}
}

@media(max-width:850px){
  .slide {
    width: 650px;}

  .menuPc {
    display: none;
  }
  
  .menu{
    display: flex;
  }
}

@media(max-width:700px){

  .slide {
    width: 400px;
  }

  #copy {
    font-size: 12px;
  }
  
  .menu{
    display: flex;
  }
}

@media(max-width:450px) {
  .slide {
    width: 300px;
  }

  .navLeft {
    margin-right: 20px;
  } 

  .menu {
    margin-left: 20px;
  }

  h3 {
    font-size: 13px;
    width: 100px;
    margin-right: 5px;
  }
}
.App-header {
  opacity: 20%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
